xml_schema/component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="component">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="unit" type="xs:nonNegativeInteger"/> 
			</xs:sequence>
		</xs:complexType>
   	</xs:element>

</xs:schema>