xml_schema/recipe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="utensils.xsd"/>

	<xs:complexType name="recipe">

		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="origin" type="xs:string" />
			<xs:element name="utensils" type="utensils"/>
		</xs:sequence>

		<xs:attribute name="type" use="required"/>
		<xs:attribute name="dificulty" use="required"/>

   	</xs:complexType>

</xs:schema>